html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #002; 
  font-family: 'friz-quadrata';
  overflow: hidden;
}


  #root {
    height: 100%;
  }

  @font-face {
    font-family: 'friz-quadrata';
    src: url(../../public/fonts/friz-quadrata-std-italic-587033b2c95df.otf);
  }

  .App {
    height: 100%;
  }

  p {
    padding: 0;
    margin: 0;
    color: aqua;
    font-size: 1em;
    text-align: center;
    filter: drop-shadow(0 0 15px aqua);
  }

  h1 {
    color: aqua;
    text-align: center;
    filter: drop-shadow(0 0 15px aqua);
  }