.game {
  height: 95%;
  width: 100%;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

  .game-board {
    margin: 0 0 0 23%;
  }
  
  .game-info{
    height: 100%;
    margin: 0 23% 0 0;
  }

  .board-row {
    display: flex;
    justify-content: center;
  }

  .square {
    padding: 0;
    width: 6vw;
    height: 12vh;
    line-height: 12vh;
    margin: 2px;
    background: transparent;
    border: 3px solid lightgreen;
    border-radius:15px;
    cursor: pointer;
    filter: drop-shadow(0 0 15px lightgreen);
    transition: border 0.4s ease-in-out;
  }
  
  .square:hover {
    border-color: white;
    filter: drop-shadow(0 0 15px white);
  }
  
  .square.X.clicked {
    border-color: red;
    filter: drop-shadow(0 0 15px red);
  }
  
  .square.O.clicked {
    border-color: blue;
    filter: drop-shadow(0 0 15px blue);
  }
  
  @keyframes redBorder {
    0% { border-color: lightgreen; }
    100% { border-color: red; }
  }
  
  @keyframes blueBorder {
    0% { border-color: lightgreen; }
    100% { border-color: blue; }
  }  

  .history-button {
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border: 3px solid lightgreen;
    background: transparent;
    border-radius:15px;
    cursor: pointer;
    filter: drop-shadow(0 0 15px lightgreen);
    animation: buttonFadeIn 0.6s ease-in-out forwards;
}

@keyframes buttonFadeIn {
    0% {
      opacity: 0;
      border: 3px solid transparent;
    }
    100% {
      opacity: 1;
      border: 3px solid lightgreen;
    }
}